LLM_MODEL=qwen2.5:14b
PHONE_NUMBER=clinic_phone_number
VECTOR_DB_PATH=./chroma_clinic_db
EMBEDDING_MODEL=mxbai-embed-large
LOG_LEVEL=DEBUG
REDIS_URL=redis://localhost:6379
SESSION_TTL_SECONDS=1800

#Postgres (docker)
DB_USER=clinic_admin
DB_PASSWORD=your_password
DB_NAME=clinic_cs
DB_HOST=localhost
DB_PORT=5432

#Redis (docker)
REDIS_HOST=localhost
REDIS_PORT=6379