# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# environment
.venv/
venv/
.env
.env.local
.env.*.local

#frontend
node_modules/
dist/
.vite/

# database and vector db
*.db
chroma_clinic_db/

#logger files
logs/
*.log

#project's note
notes.txt

#IDE
.vscode/
.idea/